{% if msc_bsc_alumni and msc_bsc_alumni.size > 0 %}
<h2>M.Sc. and B.Sc. Alumni</h2>
<ul class="long-list">
{% for person in msc_bsc_alumni %}
  {% assign href = person.url | default: person.site %}
  <li>{% if href %}<a href="{{ href }}">{% endif %}{{ person.name }}{% if person.where %} <span>{{ person.where }}</span>{% endif %}{% if href %}</a>{% endif %}</li>
{% endfor %}
</ul>
{% endif %}
